.loading {
    .card {
        opacity: .5;

        .loader {
            display: block !important;
        }
    }

    .card-background {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgwAAAEmAgMAAABzNyBRAAAADFBMVEXu8PLd3+TN0dj///8+EHCVAAADCUlEQVR4XuzUsY0CMRRFUeqYEmjCJbgPN0EJBFPABiANvoVMQAlUsUNA5NUSIGSBHSAB/yfvVnD0grf6908GGWSQQQYZZHgpGWSQQQYZZJBBBhlkGDbuhoXJ3bCG6Gy4AHtfQ0kA0dUwA3DwNBRubR0NJ25lP8PCvdHNMHAvByfDmdroZEjUcnAxzNRg52EoiYeCg+HIY5O94Y/norlhaAx7a8NCWzQ2rGk72Bou9NpaGkqiV7Y0zPT7sTMU+pGDmeFEPxitDAt8cojVe/fUtrMxnKm1BRNDotY2WRhmar3i9w2/6cq+3aQ2DgRhGL5PLuH76BI+QvazMZABJ9WQ3geY3vsIPkIvBzCksbsjk4AJY0YVjb5JJ7yf0EaCrgcooR9UE4afixiy/SU/7N/iNAwmzMpnMGWSy3CUGm5dhpPUsHEZqtQQXYaD1LB1GYrUEFyGndRw7zLspYYHlyGbNCuPYdAa1h6DaZMchqPYcOswnMSG6DDUDgwHsWHrMBSxITgMO7HhwWHYmzgOQ1YbVtOGQW1I0wb7fMNRbthMGk5yQ5w0VLlhO2k4yA1h0lD8V3lurb4tWuO4L2S4JM8y+Gv7Dam1kV1mG0ZaTq12ZcCAAQMGDBgwYMCAAQMGDBgwYMCAAUP/3yeXDAYMGDBgwIABAwYMGDBguOnAMHRgkP206DccOzAoBiC+oqHKRnH8ht8Cw9phUA+CpC9oKLKRJL9hJxtJ8hv2HRiywBA7MNx90HDTgWGQTT34DcKpBww8Vy9rSK/C9O6u8saO7w6qDRgwYMDQSmyW6mxDbNZKaBIDBgwYMGDAgAEDBgwYeMfBML8ns64n+zdUW9xgHsPobfm8pRKLwJBKfI411nMdu26oVq1ZsnWOOWRbvCctnhcu4Vznl6WrhmJP47lHixZsNCyfMG6W7bVOvGrI9h/jNlz6YV4u/fBnwlWDfQ8DBgwYMGDAgAEDBgwYdPEbMNinJPRpwIABw0t7dyAAAAAAIMjfepAzyKDbhcrAwMDAwMDAwMDAwMDAwMDAEPFHbu/X2VHGAAAAAElFTkSuQmCC') !important;
        opacity: 1;
    }

    .card-title,
    .card-text {
        background-color: gray('400');
        color: transparent !important;
    }
}

.card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
    color: color('black') !important;
    margin-bottom: $card-listings-margin;
    text-decoration: none !important;

    @media (max-width: $breakpoint-xs) {
        margin-bottom: #{$card-listings-margin / 1.5};
    }
}

.card-body {
    overflow: hidden;
    padding: 1rem 1.375rem 1rem .5625rem;

    @media (max-width: $card-breakpoint) {
        padding: 1rem;
    }
}

.card-body-row {
    > :first-child {
        padding: 0 .25rem 0 .9375rem;
    }

    > :last-child {
        padding: 0 .9375rem 0 .25rem;
        text-align: right;
    }

    @media (max-width: $card-breakpoint) {
        > div[class*="col"] {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 .9375rem;
            text-align: left;
        }

        > :first-child .card-title {
            margin-bottom: .6rem;
        }

        > :last-child .card-title {
            margin-bottom: 0.1rem;
        }

        .card-col-reverse:first-child {
            order: 2;
        }

        .card-col-reverse:last-child {
            order: 1;

            .card-text {
                margin-bottom: .6rem;
            }
        }
    }
}

.card-background {
    background-color: color('white');
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgwAAAEmAgMAAABzNyBRAAAADFBMVEXu8PLd3+TN0dj///8+EHCVAAADCUlEQVR4XuzUsY0CMRRFUeqYEmjCJbgPN0EJBFPABiANvoVMQAlUsUNA5NUSIGSBHSAB/yfvVnD0grf6908GGWSQQQYZZHgpGWSQQQYZZJBBBhlkGDbuhoXJ3bCG6Gy4AHtfQ0kA0dUwA3DwNBRubR0NJ25lP8PCvdHNMHAvByfDmdroZEjUcnAxzNRg52EoiYeCg+HIY5O94Y/norlhaAx7a8NCWzQ2rGk72Bou9NpaGkqiV7Y0zPT7sTMU+pGDmeFEPxitDAt8cojVe/fUtrMxnKm1BRNDotY2WRhmar3i9w2/6cq+3aQ2DgRhGL5PLuH76BI+QvazMZABJ9WQ3geY3vsIPkIvBzCksbsjk4AJY0YVjb5JJ7yf0EaCrgcooR9UE4afixiy/SU/7N/iNAwmzMpnMGWSy3CUGm5dhpPUsHEZqtQQXYaD1LB1GYrUEFyGndRw7zLspYYHlyGbNCuPYdAa1h6DaZMchqPYcOswnMSG6DDUDgwHsWHrMBSxITgMO7HhwWHYmzgOQ1YbVtOGQW1I0wb7fMNRbthMGk5yQ5w0VLlhO2k4yA1h0lD8V3lurb4tWuO4L2S4JM8y+Gv7Dam1kV1mG0ZaTq12ZcCAAQMGDBgwYMCAAQMGDBgwYMCAAUP/3yeXDAYMGDBgwIABAwYMGDBguOnAMHRgkP206DccOzAoBiC+oqHKRnH8ht8Cw9phUA+CpC9oKLKRJL9hJxtJ8hv2HRiywBA7MNx90HDTgWGQTT34DcKpBww8Vy9rSK/C9O6u8saO7w6qDRgwYMDQSmyW6mxDbNZKaBIDBgwYMGDAgAEDBgwYeMfBML8ns64n+zdUW9xgHsPobfm8pRKLwJBKfI411nMdu26oVq1ZsnWOOWRbvCctnhcu4Vznl6WrhmJP47lHixZsNCyfMG6W7bVOvGrI9h/jNlz6YV4u/fBnwlWDfQ8DBgwYMGDAgAEDBgwYdPEbMNinJPRpwIABw0t7dyAAAAAAIMjfepAzyKDbhcrAwMDAwMDAwMDAwMDAwMDAEPFHbu/X2VHGAAAAAElFTkSuQmCC');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid gray('400');
    opacity: .5;
    position: relative;

    &:after {
        content: '';
        display: block;
        padding-top: 56%;
    }

    .loader {
        color: gray('500');
        font-size: .4rem;
        left: calc(50% - .5em);
        position: absolute;
        top: calc(50% - .5em);
    }

    &.b-loaded {
        opacity: 1;
        .loader {
            display: none;
        }
    }
}

.card-title {
    color: gray('700');
    font-size: $font-size-4;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card-item-info {
    display: inline-block;
}

.card-listings {
    .no-listing-found {
        margin-top: 1rem;
       font-size: $font-size-5;
    }

    @media (min-width: $breakpoint-sm + 1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: stretch;

        .card {
            margin-right: $card-listings-gap;
        }

    }

    @media (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-lg) {
        .card {
            &:nth-child(#{$card-listings-col-count - 1}n) {
                margin-right: 0;
            }

            width: calc(#{(100% / ($card-listings-col-count - 1))} - #{($card-listings-gap * ($card-listings-col-count - 2)) / ($card-listings-col-count - 1)});
        }
    }

    @media (min-width: 1200px) {
        .card {
            &:nth-child(#{$card-listings-col-count}n) {
                margin-right: 0;
            }

            width: calc(#{(100% / $card-listings-col-count)} - #{($card-listings-gap * ($card-listings-col-count - 1)) / $card-listings-col-count});
        }
    }
}