.card {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 3.375rem;
}

.card-body {
    padding: 1rem 1.375rem 1rem 0.5625rem;
}

.card-background {
    background-color: gray('700');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
        content: '';
        display: block;
        padding-top: 56%;
    }

    .loader {
        color: color-yiq(gray('700'));
        font-size: 0.4rem;
        left: calc(50% - 0.5em);
        position: absolute;
        top: calc(50% - 0.5em);
    }

    &.b-loaded {
        .loader {
            display: none;
        }
    }
}

.card-title {
    color: gray('700');
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card-listings {
    .card {
        margin-bottom: $card-columns-margin;
    }
}

.card-listings {
    .card {
        margin-bottom: $card-listings-margin;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: stretch;

        .card {
            margin-right: $card-listings-gap;
        }

    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .card {
            &:nth-child(#{$card-listings-col-count - 1}n) {
                margin-right: 0;
            }

            width: calc(#{(100% / ($card-listings-col-count - 1))} - #{($card-listings-gap * ($card-listings-col-count - 2)) / ($card-listings-col-count - 1)});
        }
    }

    @media (min-width: 1200px) {
        .card {
            &:nth-child(#{$card-listings-col-count}n) {
                margin-right: 0;
            }

            width: calc(#{(100% / $card-listings-col-count)} - #{($card-listings-gap * ($card-listings-col-count - 1)) / $card-listings-col-count});
        }
    }
}
