.filter-bar {
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.btn-outline-light{
		color: gray('800');

		min-width: 172px;
		min-height: 40px;

		&:hover, &:focus{
			background-color: gray('500');
			color: color('white');

		}

		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: color('white');
			background-color: color-level(gray('500'), +2);
		}
	}

	@media (max-width: $breakpoint-sm) {
		.btn-group,
		.btn {
			width: 100%;
		}

		.dropdown-menu {
			min-width: 0 !important;
			width: 100%;
		}
	}

}

#filterAreaBtn + .dropdown-menu {
	min-width: 18.75rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

#filterPriceBtn + .dropdown-menu {
	min-width: 18.75rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

#filterHomeTypeBtn + .dropdown-menu {
	min-width: 18.75rem;
	padding-left: 1rem;
}