.filter-bar {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    padding-top: 1rem;

    .filter-header {
        font-size: $font-size-5;
        margin-bottom: .5rem;
        text-align: center;
        font-weight: 600;
        color: gray('800');
    }

    .btn {
        color: gray('800');
        max-width: 12.5rem;
        min-height: 2.5rem;
        min-width: 10.75rem;
        padding-right: 1.5rem;

        &:hover, &:focus {
            background-color: gray('500');
            color: color('white');

        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background-color: color-level(gray('500'), +2);
            color: color('white');
        }
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-toggle::after {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: $breakpoint-sm + 1) {
        #filterBarFilters {
            display: block !important;
        }
    }

    @media (max-width: $breakpoint-md) {
        .btn {
            min-width: 7.5rem;
        }
    }

    @media (max-width: $breakpoint-sm) {
        display: block;

        .btn-group {
            display: flex;
        }

        .btn {
            border-radius: $btn-border-radius !important;
            display: block;
            margin-bottom: 1rem;
            max-width: 100%;
            min-width: 0;
            width: 100%;
        }

        #filterBarFilters .btn {
            background-color: color('white');
            color: gray('800');

            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba(theme-color('secondary'), .25);
            }
        }

        #filterPriceBtn,
        #filterAreaBtn,
        #filterBdrmsBtn,
        #filterBathsBtn{
            display: none;
        }

        #filterPriceBtn + .dropdown-menu,
        #filterAreaBtn + .dropdown-menu {
            background-color: transparent;
            border: none;
            display: block;
            margin-bottom: 1rem;
            max-width: 100%;
            min-width: 0;
            padding: 0;
            position: static !important;
            transform: none !important;
            width: 100%;
        }

        #filterBdrmsBtn + .dropdown-menu,
        #filterBathsBtn + .dropdown-menu {
            display: flex !important;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding: 0;
            position: static !important;
            transform: none !important;
            width: 100%;

            .dropdown-item {
                max-width: calc(100% / 6);
                padding: .5rem;
                text-align: center;

                &:first-child {
                    border-radius: $btn-border-radius 0 0 $btn-border-radius;
                }

                &:last-child {
                    border-radius: 0 $btn-border-radius $btn-border-radius 0;
                }
            }
        }

        #filtersBtn {
            margin: 0 auto;
            max-width: 10rem;
            &:after {
                transition: transform .3s;
            }
        }

        #filtersBtn[aria-expanded="true"] {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

#filterAreaBtn + .dropdown-menu {
    min-width: 18.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#filterPriceBtn + .dropdown-menu {
    min-width: 18.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#filterPropertyTypeBtn + .dropdown-menu {
    padding-left: 1rem;

    @media (max-width: $breakpoint-sm) {
        min-width: 0;
        width: 100%;

        .custom-control-label {
            padding: 0 0 .75rem 0;
        }
    }
}