.home-template {
    .navbar-main {
        margin-top: 1.5rem;

        @media (max-width: $breakpoint-sm) {
            margin-top: 0;
        }
    }
}

.home-background {
    background-image: url(https://s3-us-west-2.amazonaws.com/cdn.simplyrets.com/properties/trial/home-inside-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 34.59rem;
    margin-top: -4.94rem;
    max-width: 102.5rem;
    width: 100%;

    @media (max-width: $home-nav-breakpoint) {
        height: 30rem;
    }
}

.home-nav {
    background-color: theme-color('primary');
    border-radius: 0 3px 3px 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50.75rem;
    width: 100%;
}

.home-tabs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7.56rem;
    max-width: 100%;
    width: 50.75rem;

    .nav-tabs {
        border: none;
    }

    .nav-link {
        background-color: theme-color('primary-light');
        border: none;
        border-radius: 0;
        box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.16);
        color: color-yiq(theme-color('primary-light'));
        text-align: center;

        &.active {
            background-color: theme-color('primary');
            color: color-yiq(theme-color('primary'));
        }

        &:not(.active):hover {
            background-color: theme-color-level('primary-light', .5);
        }

        &:not(.active):active {
            background-color: theme-color-level('primary-light', 1.25);
        }
    }

    .nav-item:first-child .nav-link {
        border-radius: 3px 0 0 0;
        box-shadow: none;
    }

    .nav-item:last-child .nav-link {
        border-radius: 0 3px 0 0;
    }

    .nav-item {
        max-width: #{100% / 3};
        width: 11.88rem;
    }
}

.home-nav {
    color: color-yiq(theme-color('primary'));
    padding: 4.25rem 0.5rem 2.875rem 0.5rem;

    @media (max-width: $home-nav-breakpoint) {
        padding: 2.75rem 0.5rem 2rem 0.5rem;
    }

    .navbar-inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 38.125rem;
        width: 100%;

        .custom-checkbox {
            display: inline-block;
            min-height: 0;

            @media (max-width: $home-nav-breakpoint) {
                width: 50%;
                min-width: 150px;
                margin-bottom: 0.75rem;
            }
        }
    }
}

.home-search {
    margin: 0 auto 1.25rem auto;
    max-width: 33.4375rem;
}

.home-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $home-nav-breakpoint) {
        justify-content: start;
    }
}

.home-listings {
    padding-top: 3.38rem;
}
