.listing-wrapper {
    margin-top: 3rem;
}

.listing-info-container {
    background-color: color('white');
    margin-top: 1.1rem;
    padding: 2.6rem $listing-info-padding-h 0 $listing-info-padding-h;

    @media (max-width: $breakpoint-lg) {
        padding-left: $listing-info-padding-h-sm;
        padding-right: $listing-info-padding-h-sm;
    }
}

.listing-main-img {
    position: relative;
}

.listing-type {
    color: theme-color('primary');
    font-size: $font-size-4;
    font-weight: 700;
    margin-bottom: .25rem;
    text-transform: uppercase;
}

.listing-price {
    color: gray('700');
    font-size: $font-size-2;
    font-weight: 700;
    margin-bottom: 1.25rem;

    @media (max-width: $breakpoint-sm) {
        margin-bottom: .4rem;
    }
}

.listing-details {
    font-size: $font-size-4;

    @media (max-width: $breakpoint-sm) {
        margin-bottom: 2rem;
    }
}

.listing-address {
    font-size: $font-size-2;
    line-height: 1.1;
    margin: 0 0 3.6rem 0;

    @media (max-width: $breakpoint-sm) {
        margin-bottom: 2rem;
    }

    > span {
        display: block;
    }

    > span:nth-child(1) {
        margin-bottom: .4rem;
    }

    > span:nth-child(2) {
        font-size: $font-size-4;
    }
}

.listing-feature {
    margin-top: 4rem;

    &:last-child {
        margin-bottom: 4rem;
    }

    @media (max-width: $breakpoint-sm) {
        margin-top: 2rem;

        &:last-child {
            margin-bottom: 2rem;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.listing-feature-title {
    color: gray('700');
    font-size: $font-size-4;
    margin-bottom: 0.25rem;
}

.listing-contact-container {
    background-color: gray('100');
    flex-grow: 1;
    margin-right: -$listing-info-padding-h;
    padding: 2rem;

    @media (max-width: $breakpoint-lg) {
        margin-right: -$listing-info-padding-h-sm;
    }

    @media (max-width: $breakpoint-sm) {
        margin: 0 #{-$listing-info-padding-h-sm};
        padding: 2rem $listing-info-padding-h-sm;
    }
}

.left-column {
    padding: 0;
    img {
        width: 100%;
    }
}

.right-column {
    padding-left: 1rem;
    padding-right: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    figure {
        display: block;
        margin-bottom: 1rem;
        position: relative;
        width: calc(50% - .5rem);

        &:before {
            content: '';
            display: block;
            padding-top: 67%;
        }
    }
}

.gallery-icon {
    align-items: center;
    color: gray('200') !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    outline: none;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;

    span {
        text-align: center;
        width: 100%;
    }
}

.gallery-title {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.gallery-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


