/* SPACERS
   ================================================== */
$spacer: 1rem;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 2.5),
    7: ($spacer * 3)
);


/* COLORS
   ================================================== */

$grays: (
    '100': #fafafa,
    '200': #e9ecef,
    '300': #dddddd,
    '400': #cdd1d8,
    '500': #adb5bd,
    '600': #777777,
    '700': #444A53,
    '800': #343a40,
    '900': #212529
);

$colors: (
    'blue':         #007bff,
    'indigo':       #6610f2,
    'purple':       #6f42c1,
    'pink':         #e83e8c,
    'red':          #cb3849,
    'orange':       #fd7e14,
    'yellow':       #ffc107,
    'green':        #28a745,
    'teal':         #20c997,
    'cyan':         #17a2b8,
    'light-blue':   #429dce,
    'bluish-white': #f5f7fa,
    'black':        #000,
    'white':        #fff,
);

$theme-colors: (
    'primary':      color('red'),
    'secondary':    color('light-blue'),
    'success':      color('green'),
    'info':         color('light-blue'),
    'warning':      color('yellow'),
    'danger':       color('red'),
    'light':        gray('300'),
    'dark':         gray('800'),
    'bluishlight':  color('bluish-white')  
);


/* CONTAINERS
   ================================================== */

$container-max-widths: (
    sm: 1640px,
    md: 1640px,
    lg: 1640px,
    xl: 1640px
);


/* COMPONTENTS
   ================================================== */

$component-active-bg: theme-color("secondary");


/* CARDS
   ================================================== */

$card-listings-margin: 3.375rem;
$card-listings-gap: 1rem;
// card-listings-col-count must be >= 3
$card-listings-col-count: 3;


/* LISTING ITEM
   ================================================== */

$listing-info-padding-h: 3.5rem;

